body{
    font-family:Andale Mono, monospace;
    font-size: 19px;
}
/*PRIMEIRO*/
.prim{
    margin-top: 30px;
}

/*SOBRE*/
.sobre{
    margin-top: auto;
    text-align: center;

}
/*CARROUSSEL REBAIXADO*/
.caro{
    margin-top: 20px;
    margin-top: 20px;
    padding: 20px;
}
/*PORTIFOLIO*/
.port{
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 30px;

}
.port img{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

}
/*CONTATO*/
.conta{
text-align: right;
background-color: rgb(206, 255, 209);
text-align: center;
margin-top: 10px;
margin-bottom: 30px;
padding: 10px;
}
/*FOOTER*/

footer {
    background-color: rgb(11, 77, 38);
    padding: 10px;
    text-align: center;
    color: white;
  }

  /*ALGUMA COISA NO JAVAS*/
  #conteudo{
    width:400px;
    background:#fff;
    padding:20px;
    padding-top: 0;
    color:#000000;
    margin: 0 auto;
    max-height: 270px;
    overflow: hidden;
    border-radius: 15px;
    
    -webkit-transition:max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition:max-height 0.7s;
    }
    
    #conteudo.open{
    max-height:1000px;

    -webkit-transition:max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition:max-height 0.7s;
    }
    
    #mostre_mais{
        background: #9ddba0;
        color: azure;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: block;
        width: 140px;
        font-size: 24px;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;
        margin: 20px auto;
        cursor: pointer;
        border-radius: 15px;
    }
  
